body
{
	background-color: lightgrey;
}

#container
{
	margin-right: auto;
	margin-left: auto;
	width: 1200px;
	
}

#photo1
{
	width: 1200px;
	height: 400px;
}

#menu
{
	position: relative;
	margin-top: 10px;
	background-color: white;
	height: 50px;
	z-index: 100;
}

ol
{
	padding: 0;
}

ol > li
{
	float: left;
	width: 238px;
	height: 38px;
	text-align: center;
	font-size: 30px;
	padding-top: 10px; 
	border-left: 2px dotted #000000;
	list-style-type: none;
	font-weight: bold;
}

ol > li:hover
{
	border-bottom: 2px dotted #000000;
	background-color: lightgrey;
}

ol > li:last-child
{
	width: 236px;
	border-left: 2px dotted #000000;
	border-right: 2px dotted #000000;
}

ul
{
	margin-top: 6px;
	padding-left: 0;
	position: relative;
	right: 2px;
}

ul > li
{
	display: none;
}

ol > li:hover > ul > li
{
	display: block;
	width: 240px;
	height: 40px;
	padding-top: 0px;
	font-size: 20px;
	text-align: center;
	background-color: lightgrey;
	border-bottom: 2px dotted #000000;
}

ol > li > ul > li > a
{
	display: block;
	height: 32px;
	padding-top: 8px;
}

ol > li > ul > li > a:hover
{
	background-color: #ffffff;
}

#header
{
	width: 1200px;
	margin-top: 10px;
	text-align: center;
	background-color: lightgrey;
	
}

#start
{
	margin-top: 10px;
	background-color: white;
	padding: 20px;
}

#photo2
{
	float: left;
	width: 580px;
	text-align: center;
}

#text
{
	float: left;
	width: 560px;
	text-align: justify;
	font-size: 22px;
	padding-right: 20px;
	line-height: 1.8em;
}

#text2
{
	float: left;
	width: 540px;
	margin-top: 50px;
	padding-left: 20px;
	text-align: justify;
	font-size: 20px;
	line-height: 1.5em;
}

#footer
{
	margin-top: 10px;
	height: 30px;
	font-size: 20px;
	text-align: center;
}

a
{
	text-decoration: none;
	color: black;
}

#map
{
	float: left;
	width: 580px;
}

#promo
{
	float: left;
	margin-top: 50px;
	width: 580px;
}

#text3
{
	width: 1160px;
	text-align: justify;
	font-size: 20px;
}

#text4
{
	float: left;
	width: 560px;
	text-align: justify;
	font-size: 25px;
	padding-right: 20px;
}